body {
    text-align: center;
    line-height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: rgb(37, 37, 37);
}

.total-container {
    height: 60%;
    width: 500px;
    display: inline-block;
    vertical-align: middle;
}

.box {
    text-align: left;
    line-height: normal;
    border: 2px solid black;
    border-radius: 8px;
    padding:30px;
}

.box p {
    font-size: 25px;
}


.choices {
    margin: 20px;
}

label {
    font-size: 20px;
}

.youtube {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.youtube:hover {
    width: 25px;
    height: 25px;
}

.buttons {
    margin-top: 20px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    /* color: white; */
    transition-duration: 0.4s;
    font-family: 'Roboto Slab', serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons:hover {
    background-color: rgb(128, 128, 128, 0.5);
  }

a {
    text-decoration: none;
    color: black;
}

.results {
    text-align: center;
}

#home {
    float: left;
    margin-right: 10px;
}

.footer {
    margin-top: 70px;
    line-height: normal;
}